<div class="modal" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalEditLabel">Cập nhật thông tin gói cước</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="TMAlertModal"></div>
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Thông tin chung</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="TENGOI" name="TENGOI" class="form-control isTooltip" value=""
                                           placeholder="Tên gói" title="Tên gói" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="TENGOI" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="PROFILE" name="PROFILE" class="form-control isTooltip" value=""
                                           placeholder="Thương hiệu" title="Thương hiệu" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="PROFILE" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="PROFILEIP" name="PROFILEIP" class="form-control isTooltip" value="" disabled
                                           placeholder="Thương hiệu IP" title="Thương hiệu IP" data-placement="right">
                                    <span data-valmsg-for="PROFILEIP" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" id="TOCDO" name="TOCDO" class="form-control isTooltip" value="0"
                                           placeholder="Tốc độ" title="Tốc độ" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="TOCDO" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" id="GIA" name="GIA" class="form-control isTooltip" value="0"
                                           placeholder="Giá cước" title="Giá cước" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="GIA" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" id="DICHVUVT_ID" name="DICHVUVT_ID" class="form-control isTooltip" value="0"
                                           placeholder="Dịch vụ viễn thông ID" title="Dịch vụ viễn thông ID" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="DICHVUVT_ID" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" id="GOICUOCID" name="GOICUOCID" class="form-control isTooltip" value="0"
                                           placeholder="Gói cước ID" title="Gói cước ID" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="GOICUOCID" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" id="TICHHOPID" name="TICHHOPID" class="form-control isTooltip" value="0"
                                           placeholder="Tích hợp ID" title="Tích hợp ID" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="TICHHOPID" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input type="text" id="NGAY_BD" name="NGAY_BD" class="form-control isTooltip" value=""
                                           placeholder="DD/MM/YYYY" title="Ngày bắt đầu" data-placement="right" moment-fomat="DD/MM/YYYY">
                                    <span data-valmsg-for="NGAY_BD" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="NGAY_KT" name="NGAY_KT" class="form-control isTooltip" value=""
                                           placeholder="DD/MM/YYYY" title="Ngày kết thúc" data-placement="right" moment-fomat="DD/MM/YYYY">
                                    <span data-valmsg-for="NGAY_KT" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 row">
                                    <label class="col-md-4 col-form-label required">Cước data</label>
                                    <div class="btn-group" role="group" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <span>Có</span>
                                            <input type="radio" hidden name="IS_DATA" value="1" autocomplete="off" checked>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <span>Không</span>
                                            <input type="radio" hidden name="IS_DATA" value="0" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 row">
                                    <label class="col-md-4 col-form-label required">Tích hợp</label>
                                    <div class="btn-group" role="group" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <span>Có</span>
                                            <input type="radio" hidden name="IS_TH" value="1" autocomplete="off" checked>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <span>Không</span>
                                            <input type="radio" hidden name="IS_TH" value="0" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 row">
                                    <label class="col-md-4 col-form-label required">Extra Type</label>
                                    <div class="btn-group" role="group" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <span>Có</span>
                                            <input type="radio" hidden name="EXTRA_TYPE" value="1" autocomplete="off" checked>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <span>Không</span>
                                            <input type="radio" hidden name="EXTRA_TYPE" value="0" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 row">
                                    <label class="col-md-4 col-form-label required">Trạng thái</label>
                                    <div class="btn-group" role="group" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <span>Sử dụng</span>
                                            <input type="radio" hidden name="FLAG" value="1" autocomplete="off" checked>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <span>Nháp</span>
                                            <input type="radio" hidden name="FLAG" value="0" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><label class="text-warning">Vui lòng nhập đầy đủ các trường có dấu (*)</label></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Ghi chú</h5>
                    </div>
                    <div class="card-body">
                        <textarea id="GHICHU" name="GHICHU" class="tinymce"></textarea>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-md-4 col-form-label">Người tạo</label>
                                <label class="col-md-4 col-form-label" tm-form="CREATEDBY"></label>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 col-form-label">Ngày tạo</label>
                                <label class="col-md-4 col-form-label" tm-form="CREATEDAT" moment-fomat="DD/MM/YYYY"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-md-4 col-form-label">Người sửa</label>
                                <label class="col-md-4 col-form-label" tm-form="UPDATEDBY"></label>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 col-form-label">Ngày sửa</label>
                                <label class="col-md-4 col-form-label" tm-form="UPDATEDAT" moment-fomat="DD/MM/YYYY"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCreate" type="submit" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validator.unobtrusive.parseDynamicContent.js"></script>
    <script>
        $(function () {
            formGet({
                url: $controllerUrl + 'Get', data: { id: $(FormModal).find('[name="id"]').val() }, form: FormModal,
                success: function (d) {},
                done: function () {
                    var _array = $('#PROFILEIP').val().split(',');
                    var rs = '';
                    if (_array.length>0)
                    for (var i = 1; i < _array.length-1; i++) {
                        rs += _array[i] + ', ';
                        }
                    $('#PROFILEIP').val(rs.substring(0, rs.length - 2));
                }
            });
        });
        $(FormModal).FormPost({ url: $controllerUrl + 'InsertUpdate', id: $(FormModal).find('[name="id"]').val(), resetForm: false, done: function () { $($table).bootstrapTable('refresh') } });
    </script>
</div>
