@{
    ViewBag.Title = "Cập nhật data";
    ViewBag.ContentTitle = "Cập nhật SQL -> Oracle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-list row form-group"></div>
<span class="btn btn-dark col-5 mb-1 mr-1 btnAction" data-url="ImportData/TransferDataPortal" data-val="users">Users</span>
@section Scripts {
    <script>
         //Action link
        $(document).on('click', '.btnAction', function (e) {
            e.preventDefault();
            ActionLink({ url: $(this).attr('data-url'), data: { dataVal: $(this).attr('data-val') } });
        });
        $.get('/ImportData/GetTable',function(d){
            if(d.data){
                var html ='';
                for(var i=0;i<d.data.length;i++)
                    html+='<span class="btn btn-dark col-5 mb-1 mr-1 btnAction" data-url="ImportData/TransferData" data-val="'+d.data[i].tablE_NAME+'">'+d.data[i].tablE_NAME+'</span>';
                $('.table-list').html(html);
            }
        })
    </script>
}