
@{
    ViewBag.Title = "Báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3 class="col-md-12">Báo cáo</h3>*@
<div>
    <div class="tool-bar row">
        <div class="col-md-6">
            <div class="card panel-primary">
                <h5 class="card-header">Danh sách báo cáo tùy chọn</h5>
                <div class="card-body report-custom-list" role="group" data-toggle="buttons"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card panel-primary">
                <h5 class="card-header">Tùy chọn thông số</h5>
                <div class="card-body">
                    <div class="row">
                        <h5 class="form-group col-md-12">Tháng thực hiện</h5>
                        <div class="form-group col-md-6">
                            <label for="ckhMerginMonth">
                                <input type="checkbox" id="ckhMerginMonth" name="ckhMerginMonth" value="true" checked /><!--name="ckhMerginMonth" value="1"-->
                                Sử dụng tháng mặc định
                            </label>
                        </div>
                        <div class="form-group col-md-6">
                            <select id="time" class="form-control" name="time">
                                @foreach (var item in (List<string>)ViewBag.directory)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                            <label id="lblTime"></label>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" id="footerValue" value="Bắc Kạn, ngày 07 tháng 04 năm 2018" class="form-control isTooltip" placeholder="Thay đổi thông tin cuối trang" title="Thay đổi thông tin cuối trang" data-placement="bottom"/>
                        </div>
                        <div class="col-md-6">
                            <span id="btn-print" class="btn btn-outline-info">Print</span>
                            <span id="btn-export" class="btn btn-outline-success">Export</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="print-content" export-name="tuanmjnh" class="mb-2"></div>
</div>

<!-- Modal Group -->
<div class="modal fade" id="modalGroup" tabindex="-1" role="dialog" aria-labelledby="modalGroup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
@section scripts {
    <script src="~/Scripts/TMExportToExcel.js"></script>
    <script src="~/Scripts/TMPrinter.js"></script>
    <script>
        AjaxLoaddingBounce();
        var quanHuyen = {};
        var exportContent = '';
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = new Date();
                date.setMonth(date.getMonth() - 1);
                var month = date.getMonth() + 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.getFullYear();
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        function getTime(time) {
            if (time.length > 3) return moment(time + '01');
            return moment();//.format('YYYY/MM/DD');
        };
        //GetQuanHuyen
        function GetQuanHuyen() {
            $.get($controllerUrl + 'GetQuanHuyen', function (d) {
                if (d.data) quanHuyen = d.data;
            });
        }
        //FixDonVi
        function FixDonVi() {
            $(document).find('[fix-dvi="true"]').each(function () {
                var id = parseInt($(this).html());
                for (var i = 0; i < quanHuyen.length; i++) {
                    if (quanHuyen[i].MA_QUANHUYEN == id) {
                        $(this).html(quanHuyen[i].TEN_QUANHUYEN);
                    }
                }
            });
        }
        //GetReportCustom
        function GetReportCustom() {
            $.get($controllerUrl + 'GetReportCustom', function (d) {
                var html = '';
                for (var i = 0; i < d.data.length; i++) {
                    html += '<label class="btn btn-info btnGetReportDetailCustom">';
                    html += '<span>' + d.data[i].TITLE + '</span>';
                    html += '<input type="radio" hidden name="GROUPID" value="' + d.data[i].GROUPID + '" autocomplete="off">';
                    html += '</label>';
                }
                $('.report-custom-list').html(html);
            });
        };
        $(function () {
            MerginMonth();
            GetReportCustom();
            GetQuanHuyen();
        });
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        });
        //GetReportDetailCustom
        $(document).on('click', '.btnGetReportDetailCustom', function () {
            $this = $(this);
            var data = {
                time: $('#time').val(),
                ckhMerginMonth: $('#ckhMerginMonth').prop('checked'),
                data_id: $(this).children('input[type="radio"]').val(),
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val()
            };
            $.post($controllerUrl + 'GetReportDetailCustom', data, function (d) {
                if (d.data) {
                    var html = '';
                    var col = 0;
                    var row = 0;
                    var total = [];
                    var time = moment();
                    if ($('#ckhMerginMonth').prop('checked') === true)
                        time = getTime($.trim($('#lblTime').html()));
                    else
                        time = getTime($('#time').val());
                    //if (d.data.hd)
                    //    dataTitle = d.data.hd;
                    if (d.data.hc)
                        html += d.data.hc
                            .replace('$BillMonth', time.month() < 10 ? '0' + (time.month() + 1) : time.month() + 1)
                            .replace('$BillYear', time.year());
                    if (d.data.cd.length > 0) {
                        var des = d.data.cd;
                        row = d.data.cd.length;
                        html += '<table id="tableExport" class="table table-bordered">';
                        if (d.data.cc) {
                            html += '<thead><tr>';
                            var cc = JSON.parse(d.data.cc.htmlDecode());
                            col = cc.length;
                            for (var x = 0; x < cc.length; x++)
                                html += '<td class="' + cc[x].class + '" style="' + cc[x].style + '"><b>' + cc[x].title + '</b></td>';
                            html += '</tr></thead>';
                        }
                        html += '<tbody>';
                        for (var i = 0; i < des.length; i++) {
                            html += '<tr>';
                            html += '<td class="' + cc[0].classContent +'">' + (i + 1) + '</td>';
                            for (var j = 0; j < des[i].length; j++) {
                                html += '<td class="' + cc[j + 1].classContent + '" style="' + cc[j + 1].styleContent + '" ' + (j == 0 ? 'fix-dvi="true"' : '') + '>' + (parseInt(des[i][j].Value) ? parseInt(des[i][j].Value).format() : des[i][j].Value) + '</td>';
                                if (parseInt(des[i][j].Value) && j > 0)
                                    total[j] = total[j] !== undefined ? total[j] + parseInt(des[i][j].Value) : parseInt(des[i][j].Value);
                            }
                            html += '</tr>';
                        }
                        //
                        html += '<tr><td colspan="2" class="text-center"><b>TỔNG</b></td>';
                        for (var z = 0; z < col - 2; z++)
                            html += '<td class="' + cc[z + 2].classContent +'">' + total[z + 1].format() + '</td>';
                        //
                        html += '</tr></tbody></table>';
                    }
                    if (d.data.fc)
                        html += d.data.fc.replace('$footerValue', '<span id="footerValueDetail">' + $('#footerValue').val() + '</span>');

                    $('#print-content')
                        .attr('export-table', 'tableExport')
                        .attr('export-title', d.data.hd)
                        .attr('export-datetime', d.datetime)
                        .attr('export-group', $this.children('span').html())
                        .attr('export-name', $this.children('span').html() + '_' + moment(d.datetime).format('YYYYMM'))
                        .html(html);
                    exportContent = $(document).find('#tableExport tbody').html();
                    //
                    $('#btn-export').TMExportToExcel({ table: 'tableExport', filename: $('#print-content').attr('export-name') });
                }
                else
                    $('#print-content').html('<label class="text-danger">Không có dữ liệu nguồn, Vui lòng kiểm tra lại <b>Công cụ</b> -> <b>Kết xuất</b>!</label>');
            });
        });
        //
        $(document).ajaxComplete(function () {
            FixDonVi();
        });
        $('#footerValue').on('keyup', function () {
            target = $(document).find('#footerValueDetail');
            target.html($(this).val());
        });
        //
        function htmlDecode(input) {
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
        //
        //function ActionLink(obj) {
        //    var formdata = new FormData($('form')[0]);
        //    for (var i in obj.data)
        //        formdata.append(i, obj.data[i]);
        //    //obj.data = $.extend({}, { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }, obj.data);
        //    $.ajax({
        //        url: obj.url,
        //        type: 'POST',
        //        dataType: 'json',
        //        data: formdata,
        //        cache: false,
        //        contentType: false,
        //        processData: false,
        //        success: function (d) {
        //            if (d.success) {
        //                $('#TMAlert').TMAlert({ type: "success", message: d.success });
        //                $("form")[0].reset();
        //            }
        //            if (d.danger)
        //                $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
        //            if (d.warning)
        //                $('#TMAlert').TMAlert({ type: "warning", message: d.warning });
        //            if (d.url)
        //                window.location = d.url;
        //            $('#FileUpload').val('');
        //            $('.lblUpload').html('');
        //        },
        //        error: function (xhr, error, status) {
        //            $('#TMAlert').TMAlert({ type: "danger", message: window.location.protocol + '//' + window.location.host + this.url + ' is ' + xhr.status + ' ' + xhr.statusText });
        //            //console.log(error, status);
        //        }
        //    });
        //};
        //Action link
        $('.btnAction').on('click', function (e) {
            e.preventDefault();
            ActionLink({ url: $(this).attr('data-url'), data: { data_id: $(this).attr('data-id') } });
        });
        //$('#btn-export').on('click', function () {
        //    var a = $('#print-content').attr('export-name');
        //    console.log(a);
        //});
        $('#btn-print').TMPrinter({
            title: '',
            html: '#print-content',
            style: '<link href="Content/bootstrap.css" rel="stylesheet"><link href="Content/site.css" rel="stylesheet"><style>.container{margin-top:50px;}</style>'
        });
    </script>
}