
@{
    ViewBag.Title = "Hướng dẫn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-3">
    <h5 class="card-header">Connect HNI</h5>
    <div class="card-body">
        <div class="form-group">
            USERNAME: VNPTBACKAN1
        </div>
        <div class="form-group">
            PASSWORD: abc123
        </div>
        <div class="form-group">
            HOST: 10.10.20.15
        </div>
        <div class="form-group">
            PORT: 1521
        </div>
        <div class="form-group">
            SERVICENAME: VNPSYN
        </div>
    </div>
</div>
<div class="card">
    <h5 class="card-header">Connect HNI2</h5>
    <div class="card-body">
        <div class="form-group">
            USERNAME: VNPTBACKAN2
        </div>
        <div class="form-group">
            PASSWORD: Abcd1234
        </div>
        <div class="form-group">
            HOST: 10.10.20.15
        </div>
        <div class="form-group">
            PORT: 1521
        </div>
        <div class="form-group">
            SERVICENAME: VNPSYN
        </div>
    </div>
</div>

