<div class="modal" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalEditLabel">Cập nhật thông tin gói cước</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="TMAlertModal"></div>
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Thông tin chung</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="DONVI_ID" name="DONVI_ID" class="form-control isTooltip" value="" disabled
                                           placeholder="DONVI_ID" title="DONVI_ID" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="DONVI_ID" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="MA_DV" name="MA_DV" class="form-control isTooltip" value="" disabled
                                           placeholder="Mã đơn vị" title="Mã đơn vị" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="MA_DV" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="TEN_DV" name="TEN_DV" class="form-control isTooltip" value="" disabled
                                           placeholder="Tên đơn vị" title="Tên đơn vị" data-placement="right">
                                    <span data-valmsg-for="TEN_DV" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" id="MA_QUANHUYEN" name="MA_QUANHUYEN" class="form-control isTooltip" value="0"
                                           placeholder="Mã quận huyện" title="Mã quận huyện" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="MA_QUANHUYEN" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 row">
                                    <label class="col-md-4 col-form-label required">Trạng thái</label>
                                    <div class="btn-group" role="group" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <span>Sử dụng</span>
                                            <input type="radio" hidden name="FLAG" value="1" autocomplete="off" checked>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <span>Nháp</span>
                                            <input type="radio" hidden name="FLAG" value="0" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><label class="text-warning">Vui lòng nhập đầy đủ các trường có dấu (*)</label></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCreate" type="submit" class="btn btn-primary">Cập nhật</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validator.unobtrusive.parseDynamicContent.js"></script>
    <script>
        $(function () {
            formGet({
                url: $controllerUrl + 'Get', data: { id: $(FormModal).find('[name="id"]').val() }, form: FormModal,
                success: function (d) {},
                done: function () {
                    var _array = $('#DONVI_ID').val().split(',');
                    var rs = '';
                    if (_array.length>0)
                    for (var i = 1; i < _array.length-1; i++) {
                        rs += _array[i] + ', ';
                        }
                    $('#DONVI_ID').val(rs.substring(0, rs.length - 2));
                }
            });
        });
        $(FormModal).FormPost({ url: $controllerUrl + 'InsertUpdate', id: $(FormModal).find('[name="id"]').val(), resetForm: false, done: function () { $($table).bootstrapTable('refresh') } });
    </script>
</div>
