<div class="modal" id="ModalCreate" tabindex="-1" role="dialog" aria-labelledby="ModalAdd" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalCreateLabel">Thêm mới nhóm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="TMAlertModal"></div>
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Thông tin chung</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-12 Groups">
                                    <select name="GROUPID">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="APPKEY" name="APPKEY" class="form-control isTooltip" value=""
                                           placeholder="APPKEY" title="APPKEY" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="APPKEY" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" id="TITLE" name="TITLE" class="form-control isTooltip" value=""
                                           placeholder="Tên mục" title="Tên mục" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="TITLE" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input type="text" id="QUANTITY" name="QUANTITY" class="form-control isTooltip" value="0"
                                           placeholder="Số lượng" title="Số lượng" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="QUANTITY" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" id="ORDERS" name="ORDERS" class="form-control isTooltip" value="0"
                                           placeholder="Sắp xếp" title="Sắp xếp" data-placement="right"
                                           data-val="true" data-val-required="Vui lòng nhập giá trị!">
                                    <span data-valmsg-for="ORDERS" data-valmsg-replace="true" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="col-md-4 col-form-label required">Trạng thái</label>
                                    <div class="btn-group flag" role="group" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <span>Sử dụng</span>
                                            <input type="radio" hidden name="FLAG" value="1" autocomplete="off" checked>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <span>Nháp</span>
                                            <input type="radio" hidden name="FLAG" value="0" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea id="DESCRIPTION" name="DESCRIPTION" class="form-control isTooltip" placeholder="Miêu tả" title="Miêu tả" data-placement="right"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea id="CONTENTS" name="CONTENTS" class="tinymce">Nội dung</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><label class="text-warning">Vui lòng nhập đầy đủ các trường có dấu (*)</label></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCreate" type="submit" class="btn btn-primary">Thêm mới</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/validator.unobtrusive.parseDynamicContent.js"></script>
    <script>
        $(function () {
            $.get($controllerUrl + 'GetGroups', function (d) {
                var html = '<select name="GROUPID" class="form-control">';
                if (d.data)
                    for (var i = 0; i < d.data.length; i++) 
                        html += '<option value="' + d.data[i].GROUPID + '">' + d.data[i].TITLE + '</option>';
                $('.Groups').html(html +='</select>');
            })
        });
        $(FormModal).FormPost({ url: $controllerUrl + 'InsertUpdate', done: function () { $($table).bootstrapTable('refresh') } });
    </script>
</div>