body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
    /*color: #555;*/
}

.form-control {
    font-size: 13px !important;
    border-radius: 0
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

.fa {
    display: initial !important
}

/*FileUpload*/

.custom-file {
    margin-bottom: 10px
}

.custom-file label {
    border-radius: 0px;
    text-align: left;
}

/* Set width on the form input elements since they're 100% wide by default */

/*input,
select,
textarea {
    max-width: 280px;
}*/

/*modal*/

.w49percent {
    text-align: left !important
}

@media (max-width: 575px) {
    .btnTable {
        width: 100%
    }
    .w49percent {
        width: 100%
    }
    .w30percent {
        width: 100%
    }
}

@media (min-width: 576px) {
    .btnTable {
        width: 100%
    }
    .modal-dialog {
        max-width: 80%
    }
    .modal-confirm {
        max-width: 500px
    }
    .w49percent {
        max-width: 100%
    }
    .w30percent {
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .btnTable {
        width: 48%
    }
    .w49percent {
        width: 100%
    }
    .w30percent {
        width: 100%
    }
}

@media (min-width: 992px) {
    .btnTable {
        width: 32%;
        font-size: 10px !important
    }
    .w49percent {
        width: 49%
    }
    .w30percent {
        width: 32.3%
    }
}

@media (min-width: 1200px) {
    .btnTable {
        width: 19%;
        font-size: 12px !important
    }
    .modal-lgs {
        max-width: 90%
    }
    .w49percent {
        width: 49%
    }
    .w30percent {
        width: 32.3%
    }
}

.text-code {
    font-family: monospace;
    font-size: 11px !important
}

/*.required .control-label:before{content:"*";color:red}*/

a {
    transition: .5s all;
    font-size: 14px
}

.bold {
    font-weight: bold
}

.glyphicon {
    font-size: 12px
}

.required .asterisk:after {
    content: "*";
    color: red;
    position: absolute;
    top: 10px;
    right: 22px;
    z-index: 10
}

.alert-notes {
    margin-bottom: 0;
    padding: 3px 6px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.option-label {
    font-weight: normal;
    font-size: 12px
}

.option-label label:nth-child(2n+1) {
    font-weight: normal;
    font-size: 12px
}

.option-label .checkbox {
    padding-top: 0;
    top: -2px
}

.list-option {
    list-style: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0
}

.list-option li {
    clear: both
}

.list-option .checkbox label {
    font-size: 11px
}

.show {
    display: normal
}

.hide {
    display: none
}

.tooltip {
    white-space: nowrap
}

.tooltip-inner {
    max-width: initial
}

/*.form-control,.btn{font-size:12px}*/

.nav .open>a {
    background-color: initial !important
}

.navbar-right {
    margin-right: 0
}

.navbar-right .account>a,
.navbar-brand {
    color: #c9c9c9 !important
}

.navbar-right .account>a:hover,
.navbar-brand:hover {
    color: #fff !important
}

.navbar-right .account .dropdown-menu a {
    padding: 10px 20px
}

/*.navbar-right .account .dropdown-toggle{padding:14px 8px}*/

/*.btn{border-radius:unset}
.btn-group .btn{margin-bottom:1px!important}*/

.center {
    text-align: center;
    vertical-align: middle
}

.table-fixed-header {}

.table-head>thead {
    background-color: #eee
}

.table td {
    vertical-align: middle !important
}

.tbl-cmd,
.tbl-index,
.tbl-reset-pass {
    text-align: center
}

.tbl-cmd {
    width: 80px;
    font-size: 12px;
    padding: 8px 0 !important
}

.tbl-index {
    width: 4%
}

.tbl-reset-pass {
    width: 130px
}

.tbl-checkbox {
    width: 38px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle !important
}

.tbl-checkbox label {
    padding: 8px 6px;
    display: block;
    margin-bottom: 0px !important;
    cursor: pointer
}

.tbl-checkbox label input[type=checkbox] {
    cursor: pointer
}

.pointer {
    cursor: pointer
}

.search-form {
    position: relative;
    top: -1px;
    margin-right: 10px
}

.search-form input {
    max-width: unset !important
}

.show-trash {
    display: block;
    text-align: right
}

.show-trash a {
    text-align: center
}

.show-trash a:hover,
.show-trash a:active,
.show-trash a:visited,
.show-trash a:focus {
    text-decoration: none
}

.ml4 {
    margin-left: 4px
}

.mb5 {
    margin-bottom: 5px
}

.mr5 {
    margin-right: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb20 {
    margin-bottom: 20px
}

.pl10 {
    padding-left: 10px
}

.pl20 {
    padding-left: 20px
}

/*.login-form input{max-width:280px}*/

.scroll-400 {
    max-height: 400px;
    overflow-x: auto;
    overflow-y: scroll
}

#PacketModal .form-group {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px
}

#PacketModal .form-control {
    box-shadow: none;
    font-weight: normal
}

#PacketModal .form-control:hover {
    background-color: #eee;
    cursor: pointer;
    font-weight: bold
}

#PacketModal .form-control span {
    position: relative;
    top: -1.55px
}

.packet-list {
    display: inline-block
}

.packet-list span {
    display: inline-block;
    margin-right: 5px;
    padding: 12px
}

.packet-list i.glyphicon {
    padding-left: 12px;
    padding-right: 2px
}

.packet-list b.end_at {
    font-size: 12px
}

.btnPacketModal {
    padding-left: 20px;
    padding-right: 20px
}

.cts-input {
    padding-top: 10px
}

.remove-services {
    padding: 0;
    top: 6px
}

#listPacketRemove {
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px
}

#listPacketRemove .item-paket {
    margin-bottom: 3px;
    display: block
}

#listPacketRemove i {
    font-weight: normal;
    font-style: normal
}

.label-value {
    font-weight: normal;
    text-align: left !important
}

.label-services {
    font-size: 12px
}

.searching-form .form-group input[type=text] {
    width: 80%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.searching-form .form-group input[type=submit] {
    width: 20%;
    padding: 7px;
    border: 0px;
}

.pagination {
    margin-bottom: 0px !important
}

.pagination-goto {
    float: right !important;
    margin-top: 20px
}

.pagination-goto a {
    cursor: pointer
}

#txtServices .col-md-6 {
    margin-bottom: 6px
}

.fixed-top-left {
    position: fixed;
    left: 0
}

.fixed-top-right {
    position: fixed;
    right: 0
}

.fixed-top-right a,
.fixed-top-left {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 80%
}

.dropdown-menu {
    padding: 0
}

.dropdown-menu>li>a:hover {
    background-color: #101010;
    color: #fff
}

.table-hover tbody tr:hover {
    background-color: #ebebeb;
    color: #278ddb
}

.table-tr-link tbody tr {
    cursor: pointer
}

.link-action:hover {
    cursor: pointer
}

.link-action a:hover {
    text-decoration: none
}

.btn-pointer {
    cursor: pointer
}

/*File Manager*/

.label-center {
    text-align: center
}

.list-file {
    max-height: 392px;
    overflow-x: hidden;
    overflow-y: scroll;
    /*border:1px solid #eee;*/
    padding-left: 0
}

.list-file .list-group {}

.list-file .list-group .list-group-item {
    border: none;
    padding: 0;
    margin-bottom: 0
}

.list-file .list-group .list-group-item a {
    display: block;
    padding: 8px 10px;
    padding-left: 0
}

.list-file .list-group .list-group-item a:hover {
    text-decoration: none;
    background-color: #6ca1db;
    color: #fff
}

.list-file .list-group .list-group-item a i,
.list-file-item {
    padding-right: 10px
}

.list-file .list-file-item:hover {
    color: #278ddb !important
}

.list-file .list-group .list-group-item ul {
    padding-left: 25px
}

.list-file .list-group .list-group-item ul li a {
    padding-left: 10px
}

/*Setting*/

.setting-label {
    display: none
}

/*NAV*/

.nav>li>ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 200px;
    background-color: #101010;
    display: none
}

.nav li:hover>ul {
    opacity: 1;
    display: block;
    transition: ease-in .5s
}

.nav ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 0;
    list-style: none;
    min-width: 200px;
    background-color: #101010;
    display: none
}

.nav>li>ul li a {
    padding: 10px 15px;
    display: block;
    color: #9d9d9d
}

.nav>li>ul li a:hover {
    color: #fff;
    text-decoration: none
}

.nav>li>ul>li.divider {
    background-color: #3d3d3d
}

.selector-month:hover .list-file {
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1
}

.selector-month .list-file {
    display: none
}

.selector-month {
    display: inline-block
}

.pl-pr15 {
    padding-left: 15px !important;
    padding-right: 15px !important
}

.input-validation-error.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-validation-error.form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.input-validation-error.input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}

.input-validation-error.form-control-feedback {
    color: #a94442;
}

.detail-label {
    display: inline-block;
    padding-top: 7px
}

label.priceVND,
label.price {
    font-weight: bold;
    color: #fff
}

.priceVND,
.price {
    font-weight: bold;
    color: #d9534f;
    font-style: normal
}

.priceVND i {
    content: " vnđ"
}

.label-details {
    padding: 6px 10px;
    position: relative;
    top: 6px
}

.desc-details {
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #cccccc
}

.label-maxsie {
    font-size: 100%
}

.input-group-addon:hover {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7
}

.images-list {
    text-align: center
}

.images-list .images {
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    display: inline-block
}

.images-list .images .image {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.images-list .images .image:last-child {
    margin-right: 0
}

.images-list .images .image:hover {
    border-color: #278ddb;
    transition: ease-in-out .6s
}

.images-list img {
    vertical-align: initial
}

.img50 {
    width: 50px;
    height: 50px
}

.img100 {
    width: 100px
}

.img150 {
    width: 150px;
    height: 150px
}

.img250 {
    width: 250px;
    height: 250px
}

.extra-box {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    float: left
}

.extra-box h4 {
    padding-left: 5px;
    font-weight: bold;
    width: 100%;
    display: block
}

.mergin-hd b {
    text-align: right
}

.mergin-hd span {
    text-align: left
}

.panel .close-panel {
    float: right;
    position: relative;
    cursor: pointer;
    top: -18px;
    color: #aaa
}

.panel .close-panel:hover {
    color: #000
}

.checkbox {
    float: left;
    margin-right: 15px
}

.checkbox:last-child {
    float: left;
    margin-right: 0px
}

/*.form-horizontal .input-group-addon{width:37px;height:34px;padding:0}*/

/*.nav>li:hover ul{
    -webkit-animation-name: fadeIn;
}

#youritem .fade.out {
    -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(100);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(startYposition);
    } 
    100% {
        opacity: 0;
        -webkit-transform: translateY(endYposition);
    }
}*/

/**/

.ajax-loader {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 45%
}

.spinner {
    margin: auto 0;
    text-align: center;
    opacity: 1;
    z-index: 1050;
    position: fixed;
}

.spinner>div {
    width: 39px;
    height: 39px;
    margin-right: 38px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

hr {
    height: 2px;
    margin-left: 15px;
    margin-bottom: -3px;
    border: 1px;
}

.hr {
    float: left;
    width: 100%;
    margin: 12px 0;
    padding: 1px 0;
}

/*CSS3 Loader*/

.css3Loader {
    animation: css3LoaderRotate 2s infinite;
    height: 80px;
    width: 80px;
    position: fixed;
    z-index: 1052;
    top: 50%;
    left: 50%;
}

.css3Loader:before,
.css3Loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 40px;
    width: 40px;
}

.css3Loader:before {
    animation: css3LoaderBall1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.css3Loader:after {
    animation: css3LoaderBall2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes css3LoaderRotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes css3LoaderBall1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes css3LoaderBall2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -40px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/*.required::after {
    content: " *";
    color: #f00;
    position: absolute;
    right: 0;
}*/

.text-bold {
    font-weight: bold;
}

a.btn {
    color: #fff !important;
    cursor: default;
}

.btn {
    font-size: 13px;
    border-radius: 0px !important;
}

/*.btn:focus {
        box-shadow: initial !important;
    }*/

.tag {
    display: inline-block;
    position: relative;
    margin-bottom: 6px;
    margin-right: 8px;
}

.tag:last-child {
    margin-right: 0 !important;
}

.tag i {
    font-style: normal;
    font-weight: bold;
    position: relative;
    color: #fff;
    background-color: #d9534f;
    padding: 5px;
    cursor: pointer;
    top: -1px;
}

.tag-success span {
    color: #fff;
    border: 1px solid #5cb85c;
    background-color: #5cb85c;
    padding: 1px 6px 1px 3px;
}

.form-control,
.input-group-addon {
    border-radius: 0px !important;
}

.form-group-border {
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

.form-group-border:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

/**/

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout-primary {
    border-left-color: #025aa5;
}

.bd-callout-success {
    border-left-color: #5cb85c;
}

/**/

.navbar {
    margin-bottom: 1rem;
}

.navbar-nav .dropdown-menu {
    margin: 0.5rem 0 0;
}

.navbar-right .dropdown-menu {
    left: -160%;
}

.divider {
    background-color: #ccc;
    padding: .5px;
    margin: 8px 0;
}

/**/

.col-chk {
    width: 38px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle !important
}

.col-chk label {
    vertical-align: middle;
    margin: auto;
    padding: 6px 12px;
}

.col-chk label:hover,
.col-chk [type="checkbox"]:hover {
    cursor: pointer;
}

.form-check {
    top: 3.9px;
}

.form-check label {
    padding-right: 15px;
}

.form-check label :last-child {
    padding-right: 0;
}

/**/

.list-pd div {
    padding-right: 5px
}

.list-pd div:last-child {
    padding-right: 0px
}

.scroll-list-horizontal {
    overflow-x: scroll;
    max-width: 500px;
}

.scroll-list-vertical {
    overflow-y: scroll;
    max-height: 200px;
}

/*bootstrap-table*/

.fixed-table-toolbar .columns {
    line-height: initial !important;
    margin-bottom: 3px;
}

.fixed-table-toolbar .btn {
    padding: 0.336rem 0.75rem;
    border-left: 1px solid #eee;
    margin-left: 1px;
}

.fixed-table-toolbar .search input[type="text"],
.toolbar-custom input[type="text"] {
    line-height: initial !important;
    padding: 7px 10px !important;
}

.toolbar-custom .input-group {
    width: initial
}

/*Card*/

.card {
    border-radius: initial
}

.card .card-header {
    border-radius: initial
}

.card .card-header .card-title {
    margin-bottom: 0;
}

.pagination {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-menu .dropdown-item:active {
    background-color: #0275d8;
}

.page-list .dropdown-menu {
    min-width: initial;
}

.page-list .dropdown-item {
    padding: 3px 22.5px;
}

/*print-content*/

#print-content {
    font-size: 16px !important;
    color: #000 !important;
}

#tableExport.table {
    border: 1px double #000 !important;
}

#tableExport.table td {
    border: 1px double #000 !important;
}

/*hr*/

.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, .8), rgba(210, 105, 30, .6), rgba(0, 0, 0, 0));
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15, 157, 88, .8), rgba(15, 157, 88, .6), rgba(0, 0, 0, 0));
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244, 67, 54, .8), rgba(244, 67, 54, .6), rgba(0, 0, 0, 0));
}